# *******************************************************************************
# Copyright (c) 2025 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Apache License Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0
#
# SPDX-License-Identifier: Apache-2.0
# *******************************************************************************

common --registry=https://raw.githubusercontent.com/eclipse-score/bazel_registry/main/
common --registry=https://bcr.bazel.build

build --java_language_version=17
build --tool_java_language_version=17
build --java_runtime_version=remotejdk_17
build --tool_java_runtime_version=remotejdk_17

# use mw/log stub implementation by default
build:bl_stub --//score/mw/log/detail/flags:KUse_Stub_Implementation_Only=False
build:bl_stub --//score/mw/log/flags:KRemote_Logging=False
build:bl_stub --//score/json:base_library=nlohmann
build:bl_stub --//score/memory/shared/flags:use_typedshmd=False

# Common baselibs flags for test
test:bl_common --build_tests_only
test:bl_common --test_tag_filters=-manual
test:bl_common --test_output=errors

# Common BaseLibs Toolchain flags for build (do not use it in case of system toolchains!)
build:bl_toolchain_common --incompatible_strict_action_env
build:bl_toolchain_common --host_platform=@score_bazel_platforms//:x86_64-linux

# Target configuration for CPU:x86-64|OS:Linux build (do not use it in case of system toolchains!)
build:bl-x86_64-linux --config=bl_stub
build:bl-x86_64-linux --config=bl_toolchain_common
build:bl-x86_64-linux --platforms=@score_bazel_platforms//:x86_64-linux
build:bl-x86_64-linux --extra_toolchains=@gcc_toolchain//:host_gcc_12
test:bl-x86_64-linux --config=bl_common

# Target configuration for CPU:x86-64|OS:QNX build (do not use it in case of system toolchains!)
build:bl-x86_64-qnx --config=bl_stub
build:bl-x86_64-qnx --config=bl_toolchain_common
build:bl-x86_64-qnx --platforms=@score_bazel_platforms//:x86_64-qnx
build:bl-x86_64-qnx --extra_toolchains=@toolchains_qnx_qcc//:qcc_x86_64
test:bl-x86_64-qnx --config=bl_common

# Target configuration for CPU:arm64|OS:toppers_asp3 build (do not use it in case of system toolchains!)
build:bl-arm64-toppers_asp3 --config=bl_stub
build:bl-arm64-toppers_asp3 --config=bl_toolchain_common
build:bl-arm64-toppers_asp3 --platforms=//bazel/platforms:arm64-toppers_asp3
test:bl-arm64-toppers_asp3 --config=bl_common
